@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111a30;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #111a30;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}

p {
  margin-bottom: 20px;
}

.text-green {
  color: #6abd45;
}

.text-primary-light {
  color: #111a30;
}

.text-primary-dark {
  color: #f9fafb;
}

.text-secondary-dark {
  color: #d3d7df;
}

.text-secondary-light {
  color: #364463;
}

.text-tertiary-light {
  color: #566380;
}

.text-tertiary-dark {
  color: #98a0b3;
}

.text-disabled {
  color: #98a0b3;
}

.bg-default {
  background: url("/assets/images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.bg-admin {
  background-color: #f2f5f7;
}

.bg-line {
  background: url("/assets/images/homepage/bg-line.png");
  background-position: bottom;
  background-repeat: no-repeat;
  /* background-size: contain; */
}

.bg-line-membership {
  background: url("/assets/images/membership/bg-line.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

.bg-stay-updated {
  background: url("/assets/images/homepage/bg-stay-updated.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-vision-mission {
  background: url("/assets/images/about-us/vision-mission.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-contact {
  background: url("/assets/images/about-us/contact.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-form-contact {
  backdrop-filter: blur(40px);
  box-shadow: 1px 2px 12px 0px rgba(103, 103, 103, 0.06);
  border: 1px solid #69bd453a;
  background: rgba(209, 235, 197, 0.1);
}

.bg-stay-updated-gradient {
  background: linear-gradient(
    90deg,
    rgba(106, 189, 69, 0.9) 0%,
    rgba(8, 35, 99, 0.9) 100%
  );
}

.bg-bod {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(209, 235, 197, 0.3) 100%
  );
}

.bg-join-now {
  background: url("/assets/images/membership/bg-join-us.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-join-now-form {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  box-shadow: 1px 2px 12px 0px rgba(0, 0, 0, 0.06);
  border: 1px solid #69bd4563;
}

.bg-primary {
  background-color: #fcece2;
}

.bg-tertiary-light {
  background-color: #edf0f7;
}

.bg-surface-success {
  background-color: #d1ebc5;
}

.bg-header-primary {
  /* backdrop-filter: blur(24px);16px
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(228, 232, 240, 0.2);
  background: rgba(255, 255, 255, 0.3); */
  backdrop-filter: blur(4px);
  border: 1px solid rgba(228, 232, 240, 0.3);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  background: rgba(237, 240, 247, 0.3);
}

.bg-header-secondary {
  backdrop-filter: blur(24px);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(228, 232, 240, 0.2);
  background: rgba(255, 255, 255, 0.3);
  color: #566380;
}

/* .bg-header-secondary {
  -webkit-box-shadow: 0 7px rgba(127, 126, 126, 0.1);
  -moz-box-shadow: 0 0 7px rgba(127, 126, 126, 0.1);
  box-shadow: 0 0 7px rgba(127, 126, 126, 0.1);
  color: #666;
  opacity: 1;
  backdrop-filter: blur(8px);
  color: rgb(236, 254, 255);
  background-color: rgba(0, 0, 0, 0.2);
} */

.bg-header-white {
  border: 1px solid var(--Border-Primary-light, rgba(228, 232, 240, 1));
  backdrop-filter: blur(24px);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
}

.bg-green-gradient {
  background: linear-gradient(
    90deg,
    rgba(155, 211, 130, 1) 0%,
    rgba(106, 189, 69, 1) 100%
  );
  transition: background 1s ease;
}

.bg-green-gradient:hover {
  background: linear-gradient(
    90deg,
    rgba(106, 189, 69, 1) 0%,
    rgba(80, 160, 40, 1) 100%
  );
}

.bg-overlay {
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.bg-overlay-white {
  backdrop-filter: blur(24px);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
}

.bg-table-green {
  background-color: #f0f8ec;
}

.bg-overlay-contact {
  background: rgba(11, 20, 38, 0.7);
}

.bg-surface-green {
  background-color: #6abd45;
}

.bg-surface-secondary-light {
  background-color: #f5f7fa;
}

.bg-hero-green {
  background: linear-gradient(180deg, #3a6826 0%, #6abd45 100%);
}

.bg-table-program {
  background-color: #f0f8ec;
}

.bg-profile {
  background: linear-gradient(90deg, #d1ebc5 0%, #f0f8ec 100%);
}

.border-tertiary-light {
  border-color: #c3cad9;
}

.border-green {
  border-color: #6abd45;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
